@import "tailwindcss";

/* Add base styles for light and dark mode.
  This gives a smooth background color transition.
*/
body {
  @apply bg-gray-100 text-gray-900 transition-colors duration-200;
}

body.dark {
  @apply bg-gray-900 text-gray-100;
}